USER_NAME=hadoop

HADOOP_VERSION=3.4.3
SPARK_VERSION=4.0.2

HADOOP_MASTER_NAME=hadoop-master
HADOOP_WORKER1_NAME=hadoop-worker1

START_DATANODE_ON_MASTER=false

GCP_KEY_FILE=my-key.json

AIRFLOW__CORE__PARALLELISM=4
AIRFLOW__CORE__DAG_CONCURRENCY=4